.App {
  text-align: center;
}





.App-header {
  background-color: #0a57f1;
  min-height: 30vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  font-size: calc(10px + 2vmin);
  color: #fff;
}
.App-header a{

  color: #fff;
}



